<li>
	{{burger_name}}

	<button type="button" class="btn btn-outline-dark mx-1 change-devour" data-id="{{id}}" data-devour="{{devoured}}">

		{{#if devoured}} << EAT AGAIN! {{else}}DEVOUR! >> {{/if}}
	</button>
    	<button type="button" class="btn btn-outline-danger mx-1 delete" data-id="{{id}}">DELETE</button>

	

</li>