<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devoured}}">

		{{#if devoured}}EAT AGAIN!{{else}}DEVOUR!{{/if}}
	</button>
    	<button class="delete" data-id="{{id}}">DELETE</button>

	

</li>